<!-- activities playlist screen -->
<div class="container" id="active">
  <div class="row">
    <ul id="activities-list">
      {{#each playlist}}
      <li>
        <a href="{{this.LINK}}">
          <img src="{{this.IMAGE}}">
        </a>
        <h5 class="licard-title">{{this.NAME}}</h5>
        <!-- like button -->
        <form action="/playlist/activities/like/{{this.id}}" class= "rateBtn" method="POST">
          <input type="hidden" name="rating">
          <button class="btn" type="submit">
            <h2><i class="fa fa-thumbs-o-up"> {{this.LIKED}}</i></h2>
          </button>
        </form>
        <!-- dislike button -->
        <form action="/playlist/activities/dislike/{{this.id}}" class="rateBtn" method="POST">
          <input type="hidden" name="rating">
          <button class="btn" type="submit">
            <h2><i class="fa fa-thumbs-o-down"> {{this.DISLIKED}}</i></h2>
          </button>
        </form>
      </li>
      {{/each}}
    </ul>
    </a>
  </div>
</div>